# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Env files
.env.*

# Test/coverage
.coverage
htmlcov/
*.egg-info/
